<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | Blind Squirrel Macro | Interactive</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="icon" type="image/png" href="/assets/logo.png" sizes="any" />
    <script src="/assets/highcharts.js"></script>
    <script src="/assets/common.js"></script>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-content">
        <div class="navbar-logo-container">
          <a href="/"><img src="/assets/logo.png" class="navbar-logo" /></a>
        </div>
        <h1 class="navbar-title">
          <a href="/" native="true" class="navbar-title-link"
            >Blind Squirrel Macro</a
          >
        </h1>
        <div class="navbar-button">
          <a class="subscribe-button" href="https://www.blindsquirrelmacro.com/subscribe">Subscribe</a>
        </div>
      </div>
    </div>
    <main>
      <h1 class="title">{{title}}</h1>
      <h2 class="subtitle">{{description}}</h2>
      <div class="published-at">{{ date | datefmt }} </div>
      <div class="line"></div>
      {{content | safe}}
      <p style="text-align: center; margin-top: 20px;">
        <a href="https://www.blindsquirrelmacro.com/subscribe?=&gift=true" class="subscribe-button">Gift a Subscription</a>
      </p>
    </main>
    <footer>

      <div>
        <a href="https://www.blindsquirrelmacro.com/about">About</a>
        <span> ∙ </span>
        <a href="https://www.blindsquirrelmacro.com/p/subscription-options">Subscriptions</a>
        <span> ∙ </span>
        <a href="https://www.blindsquirrelmacro.com/podcast">Podcast</a>
        <span> ∙ </span>
        <a href="https://x.com/SquirrelMacro">Twitter (X)</a>
      </div>
      <div>© 2024 RDAM Advisory Pty Limited.</div>
    </footer>
  </body>
</html>
